body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 120px 0;
    background: rgb(211, 240, 245);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    line-height: 1px;
}
.underline{
    background: rgb(25, 144, 212);
    height: 5px;
    width: 80px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.review{
    width: 80%;
    height: 520px;
    border-radius: 10px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 2px 5px 5px 0 #e6e3e3;
    padding: 20px 30px;
}
.img-container{
    background: rgb(25, 144, 212);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
}
.img-container img{
    width: 95%;
    height: 100%;
    border-radius: 50%;
}
h4{
    text-align: center;
}
p#job{
    text-align: center;
    color: #87ceeb;
}
p#info{
    text-align: center;
}
.button-container{
    font-size: 24px;
    text-align: center;
}
.prev-btn{
    background: none;
    border: none;
    color: #87ceeb;
}
.next-btn{
    background: none;
    border: none;
    color: #87ceeb;
}
.random-btn{
    background: transparent;
    border: 1px solid #87ceeb;
    color: #87ceeb;
    margin: 0 44%;
    border-radius: 5px;
}